.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh; /* Adjust as needed */
  }
  
  .solve-button {
    background-color: #6256CA;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .solve-button:hover {
    background-color: #5145a6;
  }